header {
  width: 100%;
  height: 600px;
  background: url(../img/header.png);
  background-size: 100%;
}

.hulk {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 46px 130px 40px 130px;
}

.block_text {
  width: 477px;
  height: 372px;
}

h1 {
  font-size: 60px;
  color: #000;
}

p {
  padding-top: 54px;
  color: #000;
  width: 477px;
  font-size: 27px;
}

button {
  width: 156px;
  height: 50px;
  margin-top: 42px;
  border-radius: 20px;
  font-size: 16px;
  background: #000;
  color: #fff;
}

.block_img {
  width: 647px;
  height: 582px;
}

.america {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 32px 130px 44px 130px;
}

.america > .block_img {
  margin-left: 46px;
}

.spider {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spider > .block_text {
  padding-left: 130px;
}

.img_spider {
  margin-left: 464px;
  margin-bottom: 117px;
}

.icon {
  width: 327px;
  height: 342px;
}

.iron {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 46px 130px 40px 130px;
}

.iron > .block_img {
  margin-left: 96px;
}

.comics {
  width: 100%;
  height: 700px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.slider {
  width: 400px;
  height: 500px;
  margin-top: 40px;
  overflow: hidden;
}

.slides {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 400px;
  height: 391px;
  min-width: 100%;
  box-sizing: border-box;
}

.block_slider {
  width: 400px;
  height: 500px;
  background: rgb(234, 233, 233);
}

.block_slider > a {
  font-size: 35px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.a_hulk {
  display: inline-block;
  margin: 34px 154px 33px 144px;
}

.a_america {
  display: inline-block;
  margin: 33px 0 33px 33px;
}

.a_spider {
  display: inline-block;
  margin: 33px 0 33px 90px;
}

.a_iron {
  display: inline-block;
  margin: 33px 0 33px 110px;
}

.prev {
  width: 80px;
  position: relative;
  bottom: 300px;
  cursor: pointer;
  rotate: 90deg;
}

.next {
  width: 80px;
  position: relative;
  bottom: 300px;
  left: 241px;
  cursor: pointer;
  rotate: -90deg;
}

footer {
  width: 100%;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.block_foter {
  width: 416px;
  height: 200px;
  display: grid;
  grid-template-columns: 134px 40px 103px 84px;
  grid-template-rows: 50px 50px;
  align-content: center;
}

.block_foter > img {
  width: 30px;
  height: 30px;
  grid-column: 2/3;
  margin-top: 7px;
}

.block_foter > a {
  grid-column: 3/4;
  padding-top: 12px;
  padding-left: 5px;
  font-size: 17px;
  color: black;
}

.icon {
  width: 300px;
  height: 76px;
}

.hulks {
  width: auto;
  height: 700px;
  background: #fff;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: flex-end;
}

.img_block {
  width: 704px;
  height: 650px;
}

.img_hulks {
  width: 704px;
  height: 650px;
}

.text_block {
  width: 444px;
  height: 519px;
  position: relative;
  bottom: 20px;
}

.text_block > p {
  padding: 55px 92px 0 0;
  font-size: 23px;
}

.americas {
  width: auto;
  height: 700px;
  background: #fff;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: flex-end;
}

.img_block {
  width: 704px;
  height: 650px;
}

.img_americas {
  width: 704px;
  height: 712px;
}

.text_block {
  width: 444px;
  height: 519px;
  position: relative;
  bottom: 20px;
}

.text_block > p {
  padding: 55px 92px 0 0;
  font-size: 23px;
}

.spiders {
  width: auto;
  height: 700px;
  background: #fff;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: flex-end;
}

.img_block {
  width: 704px;
  height: 650px;
}

.img_spiders {
  width: 704px;
  height: 770px;
}

.text_block {
  width: 444px;
  height: 519px;
  position: relative;
  bottom: 20px;
}

.text_block > p {
  padding: 55px 92px 0 0;
  font-size: 23px;
}

.irons {
  width: auto;
  height: 700px;
  background: #fff;
  display: flex;
  font-display: row;
  justify-content: space-around;
  align-items: flex-end;
}

.img_block {
  width: 704px;
  height: 650px;
}

.img_irons {
  width: 704px;
  height: 800px;
}

.text_block {
  width: 444px;
  height: 519px;
  position: relative;
  bottom: 20px;
}

.text_block > p {
  padding: 55px 92px 0 0;
  font-size: 23px;
}

* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper {
  width: 1280px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
  header {
    width: 100%;
    height: 150px;
  }
  .hulk, .america, .spider, .iron, .comics, footer {
    width: 100%;
    height: 472px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 0 100px 2px;
  }
  .block_text {
    width: 300px;
  }
  h1 {
    text-align: center;
    font-size: 35px;
  }
  p {
    width: 300px;
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
  }
  .block_img, .img_spider {
    width: 300px;
    height: auto;
  }
  .hulk > .block_text {
    height: auto;
  }
  .hulk > .block_img > img {
    width: 262px;
    height: 238px;
  }
  button {
    width: 120px;
    height: 30px;
    font-size: 12px;
    margin-top: 25px;
    margin-left: 90px;
  }
  .america {
    height: 620px;
  }
  .america > .block_img > img {
    width: 265px;
    height: 335px;
  }
  .america > .block_img {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .spider {
    height: 594px;
    padding: 150px 0 100px 2px;
  }
  .spider > .block_text {
    padding-left: 0;
  }
  .img_spider > img {
    width: 205px;
    height: 310px;
    margin-left: 80px;
  }
  .spider > .img_spider {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .iron {
    height: 560px;
  }
  .iron > .block_img > img {
    width: 265px;
    height: 317px;
  }
  .iron > .block_img {
    margin-left: 0;
  }
  .comics {
    height: 587px;
    padding: 0;
  }
  .slider, .slides, .block_slider {
    width: 250px;
    height: 310px;
  }
  .slide {
    width: 250px;
    height: 250px;
  }
  .block_slider > a {
    font-size: 22px;
    text-decoration: none;
  }
  .a_hulk {
    margin: 14px 0 0 90px;
  }
  .a_america {
    margin: 14px 0 0 20px;
  }
  .a_spider {
    margin: 14px 0 0 60px;
  }
  .a_iron {
    margin: 14px 0 0 75px;
  }
  .prev {
    width: 60px;
    position: relative;
    bottom: 200px;
  }
  .next {
    width: 60px;
    position: relative;
    bottom: 200px;
    left: 130px;
  }
  footer {
    height: 300px;
  }
  #block1 {
    position: relative;
    top: 180px;
    right: 100px;
  }
  #block {
    position: relative;
    bottom: 100px;
    right: 100px;
  }
  .block_foter > .icon {
    width: 25px;
    height: 25px;
  }
  .block_foter2 {
    margin-bottom: 200px;
  }
  .block_foter > a {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */
